click
colorama
Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
pip
wheel
Brotli
cryptography
py
setuptools
dash
plotly
pandas
numpy
cffi
Pillow
argh
pytz
openpyxl
python-dateutil
SQLAlchemy
pilkit
six
tenacity
WTForms
greenlet
pycparser
Flask-WTF
Flask-Login
Flask-SQLAlchemy
dash-bootstrap-components