{% extends 'layout.html' %}
{% set at_home = False %}
{% block content %}
    <form method="POST" action="{{ url_for('auth.signup') }}">
        {{ form.csrf_token }}
        {{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }} <br>
        {{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }} <br>
        {{ form.remember_me.label(class="form-label") }} {{ form.remember_me(class="form-check-label") }} <br>
        <input type="submit" value="Sign up">
    </form>
    <a class="link-primary" href="/auth/">New to FilmSys?</a>
{% endblock %}