{% extends 'layout.html' %}
{% macro create_card(card_title, card_text, image_file, button_url, button_text) %}
    <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="{{ image_file }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ card_title }}</h5>
        <p class="card-text">{{ card_text }}</p>
          <a href="{{ url_for(button_url, username=current_user.profile.username) }}" class="btn btn-primary">{{ button_text }}</a>
      </div>
    </div>
    </div>
{%- endmacro %}
{% set location = 'profile' %}
{% block content %}
    <h1>Profile Options</h1>
    <div class="row">
        {% if already_has_profile %}
        {{ create_card('Update User Profile', 'Keep your profile informtion up-to-date',
        '../static/assets/create_update_profile.png', 'main.update_profile', 'Update') }}
        {% else %}
        {{ create_card('Create User Profile', 'Create a profile so that others know about you',
        '../static/assets/create_update_profile.png', 'main.create_profile', 'Create') }}
        {% endif %}
        {{ create_card('View User Profile', 'Find out what other users see when they look at your profile',
        '../static/assets/view_profile.png', 'main.display_profiles', 'View') }}
        {{ create_card('Find a Profile', 'Browse our database to try to find a specific profile',
        '../static/assets/find_profile.png', 'main.display_profiles', 'Find') }}
    </div>

{% endblock %}
